<h1>Editing Report Orders By User</h1>

<%= render 'form', report_orders_by_user: @report_orders_by_user %>

<%= link_to 'Show', @report_orders_by_user %> |
<%= link_to 'Back', report_orders_by_users_path %>
