<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Pedidos</a>
  </li>
  <li class="breadcrumb-item active">Novo Pedido</li>
</ol>


<%= render 'form', order: @order %>

<%= link_to 'Voltar', orders_path %>
