
<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Estoque</a>
  </li>
  <li class="breadcrumb-item active">Nova Entrada de Estoque</li>
</ol>
<%= render 'form', entrada: @entrada %>

<%= link_to 'Voltar', entradas_path %>
