<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Categorias</a>
  </li>
  <li class="breadcrumb-item active">Nova Categoria</li>
</ol>
<%= render 'form', category: @category %>

<%= link_to 'Voltar', categories_path %>
