<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Fornecedores</a>
  </li>
  <li class="breadcrumb-item active">Novo Fornecedor</li>
</ol>

<%= render 'form', supplier: @supplier %>

<%= link_to 'Voltar', suppliers_path %>
